* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: CircularStd;
  position: relative;
  letter-spacing: 1.4px;
}

H1 {
  font-family: 'Josefin Sans', sans-serif;
}
